.box {
    width: 200px;
    height: 350px;
    margin: 15px;
    border: solid 2px lavender;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box img {
    width: 100%;
}
